@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

// General Settings
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #1d1d1f;
  background-color: #FBFBFB;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .011em;
}

//Variables
$generic-border: 1px solid #f1f1f1;
$generic-bg: #1da1f2;

//Mixins
@mixin button($width) {
  width: $width;
  height: 2.5rem;
  border: none;
  font-size: 12px;
  font-weight: 700;
  border-radius: 3px;
  background-color: $generic-bg;
  color: #fff !important;
  text-decoration: none !important;
  letter-spacing: .5px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  transition: .2s ease-out;

  &:hover {
    background-color: darken($color: $generic-bg, $amount: 5%);
    transform: scale(1.1);
  }
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//Header
header {
  background-color: (0.28, 0.11, 0.32, 1);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: auto;
    height: 3rem;

    .landing-logo {
      display: flex;
      align-items: center;
      cursor: pointer;

      h2 {
        font-family: 'Raleway', sans-serif;
        color: $generic-bg;
        padding-left: .5rem;
      }

      img {
        width: 28px;
        height: 28px;
      }
    }

    div {

      &.landing-actions {
        
        ul {
          display: flex;
          flex-direction: row;
          list-style-type: none;
          .signup {
            button {
              color: $generic-bg;
            }
          }

          li {
            cursor: pointer;
            width: 5rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            transition: .15s cubic-bezier(.2,.8,.2,1);
            border-bottom: 2px solid transparent;

            &:hover {
              border-bottom: 2px solid $generic-bg;
            }

            button {
              font-weight: 400;
              font-size: 1rem;
              background-color: transparent;
              border: 0;
              outline: none;
              color:#616161;
              width: 5rem;
              height: 100%;
              cursor: pointer;
            }

            svg {
              height: 1.3rem;
              width: 1.3rem;
            }
          }
        }
      }
    }
  }
}

.showcase-introduction {
  display: flex;
  height: calc(95vh);
  position: relative;

  .coffee-break {
    transform: scaleX(-1);
    position: absolute;
    left: 2rem;
    top: 22rem;
  }

  &__text {
    font-size: 68px;
    font-weight: 900;
    position: relative;
    top: 8rem;
    left: 13rem;
    line-height: 1.2;
    width: 50rem;
    height: 20rem;

    p:first-of-type {
      opacity: 0;
      position: absolute;
      left: 0rem;
      top: 5rem;
      animation: slide1 .8s cubic-bezier(0.68, -0.6, 0.32, 1.6) .5s 1 forwards;

      @keyframes slide1 {
        from { top: 20rem; opacity: 0; }
        to { top: 0rem; opacity: 1; }
      }
    }
    p:last-of-type {
      opacity: 0;
      position: absolute;
      top: 15rem;
      left: 0rem;
      animation: slide2 .8s cubic-bezier(0.68, -0.6, 0.32, 1.6) 1s 1 forwards;

      @keyframes slide2 {
        from { top: 20rem; opacity: 0; }
        to { top: 6rem; opacity: 1; }
      }
    }

    button {
      @include button(180px);
      position: absolute;
      font-size: 1.2rem;
      margin-left: 13rem;
      top: 12rem;
      opacity: 0;
      animation: slide3 .8s cubic-bezier(0.33, 1, 0.68, 1) 1.7s 1 forwards;

      @keyframes slide3 {
        from { left: -100vw; opacity: 0; }
        to { left: 0rem; opacity: 1; }
      }
    }
  }

  &__image {
    position: absolute;
    top: 7rem;
    left: 57rem;
    background-color: pink;

    img:first-of-type {
      position: fixed;
      top: 15.5%;
      left: 63.8%;
      max-width: 20rem;
      max-height: 38.2rem;
      z-index: 2;
    }
    img:last-of-type {
      position: fixed;
      top: 18%;
      left: 64.5%;
      max-height: 36rem;
      max-width: 18rem;
      box-shadow: 0 0 25px 4px rgba(29,160,242,.8);
      border-radius: 20px;
    }
  }
}

.showcase-detail {
  height: calc(91vh);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: hidden;

  p:first-of-type{
    font-size: 48px;
    font-weight: 900;
    position: absolute;
    left: 20rem;
    background-image: linear-gradient(
      75.2deg,
      rgba(41, 196, 255, 1) -2.5%,
      rgba(255, 158, 211, 1) 55%,
      rgba(255, 182, 138, 1) 102.3%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    animation: slide5 .8s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0s 1 forwards;

    @keyframes slide5 {
      from { top: 83rem; opacity: 0; }
      to { top: 68rem; opacity: 1; }
    }
  }

  ul {
    position: absolute;
    list-style-type: none;
    left: 25rem;
    animation: slide6 .8s cubic-bezier(0.68, -0.6, 0.32, 1.6) .5s 1 forwards;
    opacity: 0;

    @keyframes slide6 {
      from { top: 83rem; opacity: 0; }
      to { top: 73rem; opacity: 1; }
    }

    li {
      padding: 1rem;
      font-size: 22px;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      
      &::before{
        content: '';
        position: absolute;
        margin-top: .15rem;
        left: -1rem;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        border: 2px solid #2771E0;
        background-color: rgba(36,111,224,.1);
      }
      &::after{
        content: '✔';
        position: absolute;
        left: -.85rem;
        color: #333;
      }
    }
  }

  img {
    border-radius: 20px;
  }
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  &__container {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;

    .logo {
      height: 5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      justify-content: center;
      
      span {
        display: flex;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 1.5rem;
        width: 100%;

        img {
          height: 20px;
          width:20px;
          margin-right: .1rem;
        }
      }

      h1 {
        color: $generic-bg;
        font-size: 20px;
      }

      h2 {
        margin-bottom: 1rem;
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 1rem 0;

      input {
        width: 100%;
        height: 2rem;
        font-size: 14px;
        margin: 1.5rem 0;
        border-radius: 3px;
        border: 1px solid #ddd;
        padding-left: .5rem;
        margin-top: .5rem;
      }

      button {
        @include button(365px);
        margin: auto;

        &:hover {
          background-color: darken($color: $generic-bg, $amount: 10);
        }
      }

      .checkbox {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        input {
          padding: 0;
          margin: .5rem 0;
          width: 1rem;
          cursor: pointer;
        }

        p {
          margin-left: .5rem;
          font-size: 13px;
          color: #666;
        }
      }
    }
  }

  .error-message {
    display: flex;
    color: #db4c3f;
    justify-content: center;
    align-items: center;
    animation: headShake .1s linear 0s 4 alternate;
    position: absolute;
    top: 65%;
    left: 41%;

    svg {
      width: 20px;
      height: 20px;
    }

    p {
      padding-top: .1rem;
      padding-left: .5rem;
      font-size: 14px;
    }

    @keyframes headShake {
      from { left: 40.7%; }
      to { left: 41.3%; }
    }
  }

  footer {
    border-top: 1px solid #ddd;
    width: 100%;
    text-align: center;
    margin-top: auto;
    padding: 2rem;
    font-size: 13px;
    font-weight: 600;

    span {
      color: $generic-bg;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}