@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

// General Settings
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #1d1d1f;
  background-color: #FBFBFB;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .011em;
}

//Variables
$generic-border: 1px solid #f1f1f1;
$generic-bg: #1da1f2;

//Mixins
@mixin button($width) {
  width: $width;
  height: 2.5rem;
  border: none;
  font-size: 12px;
  font-weight: 700;
  border-radius: 3px;
  background-color: $generic-bg;
  color: #fff !important;
  text-decoration: none !important;
  letter-spacing: .5px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//Header
header {
  background-color: (0.28, 0.11, 0.32, 1);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: auto;
    height: 3rem;

    .landing-logo {
      display: flex;
      align-items: center;
      cursor: pointer;

      h2 {
        font-family: 'Raleway', sans-serif;
        color: $generic-bg;
        padding-left: .5rem;
      }

      img {
        fill: red;
        width: 28px;
        height: 28px;
      }
    }

    div {

      &.landing-actions {
        
        ul {
          display: flex;
          flex-direction: row;
          list-style-type: none;
          .signup {
            button {
              color: $generic-bg;
            }
          }

          li {
            cursor: pointer;
            width: 5rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            transition: .15s cubic-bezier(.2,.8,.2,1);
            border-bottom: 2px solid transparent;

            &:hover {
              border-bottom: 2px solid $generic-bg;
            }

            button {
              font-weight: 400;
              font-size: 1rem;
              background-color: transparent;
              border: 0;
              outline: none;
              color:#616161;
              width: 5rem;
              height: 100%;
              cursor: pointer;
            }

            svg {
              height: 1.3rem;
              width: 1.3rem;
            }
          }
        }
      }
    }
  }
}

//Main Content
.main-content {
  height: calc(130vh);
  display: flex;
  width: 100%;
  color: #202020;
  position: relative;

  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    position: absolute;
    padding-top: 10rem;

    h2 {
      @include no-select();
      font-weight: 900;
      font-size: 4rem;
      margin: 1rem;
      visibility: hidden;
    }

    .animation-off {
      animation-play-state: paused;
      visibility: visible;
    }

    .heading-top {
      animation: fade 1s linear 1s 1 forwards;
    }

    .heading-bottom {
      animation: fade 1s linear 1.8s 1 forwards;
    }

    .dynamic-do {
      font-size: 4rem;
      font-weight: 900;
      color: $generic-bg;
      left: 63%;
      top: 17rem;
      transition: .9s ease-out;
      position: absolute;
    }

    .dynamic-simple {
      font-size: 4rem;
      font-weight: 900;
      left: 36%;
      top: 17rem;
      position: absolute;
      animation: fade 1s linear 1.8s 1 forwards;
      visibility: hidden;
    }

    @keyframes fade {
      from { opacity: 0; visibility: hidden; }
      to { opacity: 1; visibility: visible; }
    }

    button {
      @include button(150px);
      font-size: 1.125rem;
      border-radius: .5em;
      margin-left: 14rem;
      margin-top: 1rem;
      position: absolute;
      top: 65rem;
      left: 5.5rem;
      animation: slide .7s linear 2s 1 forwards;
      background-color: transparent;
    }

    @keyframes slide {
      from { top: 26rem; background-color: transparent;}
      to { top: 22rem; background-color: #1da1f2;}
    }
  }

  &__image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    div {
      height: 38rem;
      width: 18rem;
      position: absolute;
      top: 15%;
      left: 60%;

      .phone {
        width: auto;
        height: 38rem;
        position: relative;
        z-index: 20;
      }
      
      .showcase-small {
        width: auto;
        height: 36rem;
        border-radius: 10px;
        box-shadow: 0px 0px 25px 4px rgba(29, 160, 242, .8);
        position: absolute;
        margin-top:6%;
        margin-left: 3%;
        z-index: 10;
      }
    }
  }
}

.showcase {
  display: flex;
  justify-content: center;
  position: relative;
  height: calc(400vh);

  div {
    z-index: -1;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      border-radius: 10px;
      opacity: 0;
      position: absolute;
      left: 2%;
    }
  }
  &__text {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    left: 5%;
    top: 12%;
    opacity: 0;

    h2 {
      @include no-select();
      font-weight: 900;
      font-size: 4rem;
      margin: 1rem;
    }
    p {
      font-size: 2rem;
      font-weight: 900;
      margin: .5rem;
    }
  }
}

.lights-out {
  background-image: linear-gradient(180deg, transparent, #000 50%);
  height: calc(220vh);
  display: flex;
  justify-content: center;
  
  span {
    @include no-select();
    font-weight: 900;
    font-size: 4rem;
    margin: 1rem;
    color: #f5f5f7;
    position: absolute;
    will-change: transform;
    opacity: 0;
    top: 5200px;
    z-index: 300;
  }
  
  .switch{
    animation: switchcolor .4s linear 0s 1 forwards;
  }

  @keyframes switchcolor {
    from { color: #f5f5f7; }
    to { color: #1d1d1f; }
  }
}

.album {
  height: calc(150vh);
  background-color: #000;
  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img {
      border: 5px solid #f5f5f7;
      max-width: 100%;
      max-height: 100%;
    }
    .nav {
      display: flex;
      justify-content: center;
      width: 70%;
    }

    &-introduction {
      width: 80%;
      height: 40%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .date-priority {
        img:first-of-type {
          border-bottom: none;
        }
        img:last-of-type {
          border-top: none;
        }
      }

      div {
        margin: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 20rem;
        text-align: center;
        img {
          width: 325px;
        }

        p {
          margin-bottom: 1rem;
          font-size: 28px;
          color: #f5f5f7;
          font-weight: 600;
        }
      }
    }
  }
}

.outro {
  width: 100%;
  height: calc(94vh);
  position: relative;
  display: flex;
  background-color: #000;
  @include no-select();

  .logo {
    top: 27%;
    left: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-weight: 700;
      font-size: 13px;
      color: $generic-bg;
    }

    img {
      height: 18px;
      width: 18px;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    transform: scale(.8);
    transition: .4s ease-out;
  }
  .tablet-content {
    position: absolute;
    top: 30%;
    left: 45%;

    img {
      width: 150px;
      height: 300px;
      z-index: 3;
      position: relative;
    }
    .showcase-tablet {
      height: 290px;
      position: absolute;
      top:4%;
      left: 3%;
      z-index: 1;
    }
  }
  .tablet-text {
    color: #212121;
    position: absolute;
    top: 40%;
    left: 22%;

    p {
      font-size: 32px;
      font-weight: 700;
      margin: .5rem;
    }

    button {
      @include button(100px);
      height: 1.5rem;
      border-radius: 6px;
      margin-left: 5rem;
      cursor: pointer;
      animation: glow 2s linear 0s infinite forwards;
      transition: .4s ease-out;
    }

    @keyframes glow {
      from { box-shadow: 0; }
      to { box-shadow: 0px 0px 5px 5px $generic-bg; }
    }
  }
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  &__container {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;

    .logo {
      height: 5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      justify-content: center;
      
      span {
        display: flex;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 1.5rem;
        width: 100%;

        img {
          height: 20px;
          width:20px;
          margin-right: .1rem;
        }
      }

      h1 {
        color: $generic-bg;
        font-size: 20px;
      }

      h2 {
        margin-bottom: 1rem;
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 1rem 0;

      input {
        width: 100%;
        height: 2rem;
        font-size: 14px;
        margin: 1.5rem 0;
        border-radius: 3px;
        border: 1px solid #ddd;
        padding-left: .5rem;
        margin-top: .5rem;
      }

      button {
        @include button(365px);
        margin: auto;

        &:hover {
          background-color: darken($color: $generic-bg, $amount: 10);
        }
      }

      .checkbox {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        input {
          padding: 0;
          margin: .5rem 0;
          width: 1rem;
          cursor: pointer;
        }

        p {
          margin-left: .5rem;
          font-size: 13px;
          color: #666;
        }
      }
    }
  }

  footer {
    border-top: 1px solid #ddd;
    width: 100%;
    text-align: center;
    margin-top: auto;
    padding: 2rem;
    font-size: 13px;
    font-weight: 600;

    span {
      color: $generic-bg;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}