@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

//General Settings
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  background-color: #fafafa;
  font-smooth: always;
  -webkit-font-smoothing: antialised;
  -mos-osx-font-smoothing: grayscale;
}

//Variables
$generic-box-shadow: rgba(0, 0, 0, 1) 0px 0px 0px 1px, rgba(0, 0, 0, 1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-bg: #1da1f2;

//Mixins
@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin button($width) {
  width: $width;
  height: 2rem;
  border: none;
  font-size: 12px;
  font-weight: 700;
  border-radius: 3px;
  background-color: $generic-bg;
  color: #fff !important;
  text-decoration: none !important;
  letter-spacing: .5px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}

@mixin cancel() {
  color: #555;
  cursor: pointer;
  font-size: 13px;
  margin: 2px 5px;
  font-weight: 300;
}

@mixin mq($from) {
  @media (max-width: $from) {
    @content;
  }
}

@mixin popup {
  position: absolute;
  width: 15rem;
  height: auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  border-radius: 3px;
  color: #202020;
  border: 1px solid #ddd;
}

@mixin checkbox(){
  width: 18px;
  height: 18px;
  border: 1px solid grey;
  border-radius: 50%;
  margin-right:.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .15s ease-in;
  cursor: pointer;
}

//Darkmode
.darkmode {
  nav {
    color: rgba(255, 255, 255, 0.87) !important;
  }
  .header {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
    // background-color: #3d3d3d;
    background-color: #282828;
    border-color: transparent;

    .quick-add-task__overlay {
      &-modal {
        background-color: #282828;
        color: hsla(0,0%,100%,.87);
        input {
          color: hsla(0,0%,100%,.87);
          background-color: #1b1b1b;
          border-color: hsla(0,0%,100%,.1);
        }
      }
    }
  }
  .sidebar {
    background-color: #282828;
    border-color: transparent;
    span {
      color: rgba(255, 255, 255, 0.87);
    }
    li:hover{
      background-color: #363636;
    }
    .active {
      background-color: #363636;
    }
    &__middle {
      border-color: hsla(0,0%,100%,.1);
      h2 {
        color: rgba(255, 255, 255, 0.87);
      }
    }
    .add-project {
      &__plus {
        color: $generic-bg;
      }
      &__input {
        background-color: #282828;
        color: rgba(255, 255, 255, 0.87);
        box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
        label {
          color: rgba(255, 255, 255, 0.87);
        }
        input {
          background-color: #1b1b1b;
          color: hsla(0,0%,100%,.87);
        }
      }
    }
  }
  .tasks {
    background-color: #1E1E1E;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.87);
    input {
      color: hsla(0,0%,100%,.87);
      background-color: #171717;
      border-color: hsla(0,0%,100%,.1);
    }
    li {
      border-color: hsla(0,0%,100%,.1);;
    }
    .add-task__cancel:hover {
      color: rgba(255, 255, 255, 0.87);
    }
  }
  .empty-state-illustration {
    p{
      color: rgba(255, 255, 255, 0.87);
    }
  }
  .add-task__item-actions {
    span {
      color: hsla(0,0%,100%,.56);
    }
    span:hover {
      color: hsla(0,0%,100%,.87);
    }
  }

  .add-task__select-project {
    border-color: hsla(0,0%,100%,.1);
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);

    li:hover {
      background-color: #363636;
    }
  }
  .add-task__select-priority {
    border-color: hsla(0,0%,100%,.1);
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);

    li:hover {
      background-color: #363636;
    }
  }
  .add-task__select-date {
    border-color: hsla(0,0%,100%,.1);
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);

    li:hover {
      background-color: #363636;
    }
  }

  .delete-project {
    &__modal {
      background-color: #282828;
      box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
      color: rgba(255, 255, 255, 0.87);
      &-actions {
        border-color: #333;
      }
    }
  }
}

//Header
.header {
  background-color: $generic-bg;
  border-bottom: solid 1px #1d8ff2;
  transition: height 200ms ease-in;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  transition: .4s ease-out;
  z-index: 500;
  
  @include mq('900px'){
    padding: 0 10px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 94.2%;
    margin: auto;
    height: 3rem;

    @include mq('900px') {
      max-width: 100%;
    }

    .set-display {
      display: flex;
      justify-content: center;
      width: 2rem;
      height: 2rem;

      &:hover {
        border-radius: 3px;
        background-color: rgba(255, 255, 255, .2);
        cursor: pointer;
      }

      button {
        background-color: transparent;
        border: 0;
        outline: none;
        color: white;
        cursor: pointer;

        svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    div {

      &.actions {

        ul {
          display: flex;
          flex-direction: row;
          list-style-type: none;

          li {
            margin-left: 1rem;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
          
            &:hover {
              border-radius: 3px;
              background-color: rgba(255, 255, 255, .2);
            }

            button {
              background-color: transparent;
              border: 0;
              outline: none;
              color: white;
              cursor: pointer;
            }
            
            svg {
              height: 1.3rem;
              width: 1.3rem;
            }
          }
        }
      }
    }
  }
  .quick-add-task__overlay {
    width: 100%;
    height: calc(100vh);
    position: fixed;
    background-color: rgba(0,0,0,.4);
    left: 0;
    
    &-modal {

      @include mq(900px){
        width: 350px;
      }

      background-color: white;
      box-shadow: 0 2px 8px 0 rgba(0,0,0,.16);
      width: 480px;
      border-radius: 5px;
      margin: 10vh auto;
      height: 10rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 1rem;
      &-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          &:hover {
            cursor: pointer;
            color: darken($color: hsla(0,0%,100%,.87), $amount: 50%);
          }
        }
      }
      input {
        height: 2.5rem;
        padding-left: .5rem;
        outline: none;
        border-radius: 3px;
        border: 1px solid #ddd;
        margin: 1rem 0 .5rem 0;
        font-size: 15px;
      }
      &-actions {
        display: flex;
        justify-content: flex-start;
        height: 30%;
        align-items: center;

        button {
          @include button(100px);
        }
      }
    }
  }
}

.display-off {
  left: -320px !important;
}

//Sidebar
.sidebar {
  @include no-select();
  position: fixed;
  left:0;
  width: 20rem;
  padding-left: 2.5rem;
  height: calc(100vh);
  padding-top: 5%;
  border-right: $generic-border;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: left .25s cubic-bezier(.4,0,.2,1);
  z-index: 100;
  background-color: #fbfbfb;

  @include mq('900px') {
    padding-top: 15%;
  }


  &__generic {

    li {
      list-style-type: none;
      color: #333;
      font-weight: 300;
      cursor: pointer;
      line-height: 1.5;
      font-size: 15px;
      height: 2.5rem;
      display: flex;
      align-items: center;
      padding: 0 .5rem;
      border-radius: 3px;
      // margin-right: .2rem;

      &:hover {
        background-color: #fff;
      }
      &.active{
        font-weight: bold;
        background-color: white;
      }

      div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        span:first-of-type {
          margin-right: 1rem;
          padding-top: .3rem;

          svg {
            color: #555;
            height: 1.1rem;
            width: 1.1rem;
          }
        }
      }
    }
  }

  &__middle {
    margin: .5rem 0;
    display: flex;
    border-bottom: $generic-border;
    padding: .5rem;
    width: 100%;
    cursor: pointer;

    span {
      color: #0000008a;
      margin-right: 1rem;
      transform: rotate(0);

      // svg {
      //   transition: .2s ease-out;
      // }
      
      svg.hide-projects {
        transition: transform .2s ease-out;
        transform: rotate(-90deg);
      }
    }

    h2 {
      font-size: 15px;
      font-weight: bold;
      color: #333;
    }
  }

  &__projects {
    list-style-type: none;
    height: auto;
    color: #333;
  }
  
  &__project {
    padding: .7rem;
    font-weight: 300;
    cursor: pointer;
    height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 3px;

    &.active {
      background-color: white;
      font-weight: bold;
      .sidebar__project-delete{
        display: flex;
      }
    }

    &:hover {
      background-color: white;
    }

    &:hover span:nth-child(3){
      display: inline;
    }

    &:nth-child(1){
      .sidebar__dot{
        background-color: #f18c83;
      }
    }
    &:nth-child(2){
      .sidebar__dot{
        background-color: #B8B8B8;
      }
    }
    &:nth-child(3){
      .sidebar__dot{
        background-color: #96C3EB;
      }
    }
    &:nth-child(4){
      .sidebar__dot{
        background-color: #6ACCBC;
      }
    }
    &:nth-child(5){
      .sidebar__dot{
        background-color: #EB96EB;
      }
    }
    &:nth-child(6){
      .sidebar__dot{
        background-color: rgb(255, 244, 137);
      }
    }
    &:nth-child(7){
      .sidebar__dot{
        background-color: rgb(177, 102, 204);
      }
    }
    &:nth-child(8){
      .sidebar__dot{
        background-color: rgb(105, 166, 249);
      }
    }
    &:nth-child(9){
      .sidebar__dot{
        background-color: rgb(117, 114, 255);
      }
    }

    &-delete {
      margin-left: auto;
      display: none;

      svg {
        color: #cacaca;
      }
    }
  }

  &__dot {
    width: .6rem;
    height: .6rem;
    display: inline-block;
    border-radius: 1rem;
    margin-right: 1.2rem;
  }
}

//Show Delete Modal
.delete-project {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  left: 0;
  top: 0;
  cursor: default;

  &__modal {
    @include mq(900px){
      width: 350px;
    }

    background-color: #fff;
    margin: 20vh auto;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.16);
    width: 400px;
    height: 200px;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;

    &-text {
      padding: 1rem;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-weight: 400;
      }
      span {
        font-weight: 700;
      }
    }

    &-actions {
      border-top: 1px solid #ddd;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        @include button(60px);
        margin-left: auto;
        margin-right: .5rem;
      }

      span {
        @include cancel();
        font-weight: 400;
        margin-right: 2rem;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

//Add Project
.add-project {
  width: 100%;
  height: 20%;
  padding: .5rem;

  p {
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    display: flex;
    align-items: center;
    color: #808080;
  }

  p:hover {
    color: #1d8ff2;
    .add-project__plus {
      font-weight: 300;
    }
  }

  &__plus {
    font-size: 25px;
    font-weight: 100;
    margin: 0 1.1rem 0 .1rem;
    color: $generic-bg;
    border-radius: 50%;
    padding-bottom: .1rem;
  }

  &__submit {
    @include button(3rem);
  }

  &__cancel {
    @include cancel();
  }

  &__cancel:hover {
    text-decoration: underline;
  }

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    background-color: #e5e5e5;
    padding: 1rem 1rem .3rem 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);

    label {
      font-size: 12px;
      margin-bottom: .3rem;
      color: #333;
    }

    input {
      height: 1.5rem;
      border: none;
      border-radius: 3px;
      padding-left: .2rem;
      outline: none;
      font-size: 13px;
      width: 100%;
      margin-bottom: .5rem;
    }

    input:focus {
      border: 1px solid #1d8ff2;
    }

    &-actions {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: .5rem 0;
    }
  }
}

//Main Content
.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  margin: auto;
}

.tasks {
  width: 100%;
  margin-left: 320px;
  min-height: calc(100vh);
  padding: 5%;
  background-color: white;
  border-right: $generic-border;
  vertical-align: top;
  color: #333;
  display: flex;
  justify-content: center;
  transition: margin .25s cubic-bezier(.4,0,.2,1);

  @include mq('900px') {
    padding-top: 15%;
  }

  h2 {
    font-size: 20px;
    padding-top: .5rem;
  }

  &__container {
    width: 60rem;
  }

  &__list {
    width: 100%;
    height: 100%;
    margin: 1.5% 0;
    list-style-type: none;

    li {
      width: 100%;
      height: 2.5rem;
      border-bottom: 1px solid #f0f0f0;
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 14px;

      .checkbox__0 {
        @include checkbox();

        svg {
          height: 12px;
          width: 12px;
          color: transparent;
          transition: color .15s ease-in;
        }

        &:hover {
          background-color: hsla(0,0%,50.2%,.2);
          svg {
            color: grey;
          }
        }
      }
      .checkbox__1 {
        @include checkbox();
        border-color: #d1453b;
        border-width: 2px;
        background-color: rgba(209,69,59,.1);
        svg {
          height: 12px;
          width: 12px;
          color: transparent;
        }
        &:hover {
          background-color: rgba(209,69,59,.1);
          svg {
            color: #d1453b;
          }
        }
      }
      .checkbox__2 {
        @include checkbox();
        border-width: 2px;
        border-color: #eb8909;
        background-color: rgba(235,137,9,.1);
        svg {
          height: 12px;
          width: 12px;
          color: transparent;
        }
        &:hover {
          background-color: rgba(235,137,9,.1);
          svg {
            color: #eb8909;
          }
        }
      }
      .checkbox__3 {
        @include checkbox();
        border-width: 2px;
        border-color: #246fe0;
        background-color: rgba(36,111,224,.1);
        svg {
          height: 12px;
          width: 12px;
          color: transparent;
        }
        &:hover {
          background-color: rgba(36,111,224,.1);
          svg {
            color: #246fe0;
          }
        }
      }
    }
  }
}

//Add Task
.add-task {
  margin: .5rem .1rem;
  color: #808080;
  font-weight: 300;
  font-size: 14px;
  position: relative;

  &__plus {
    font-size: 25px;
    font-weight: 100;
    margin-right: 1rem;
    color: $generic-bg;
  }

  p {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  p:hover {
    color: #1d8ff2;
    span {
      font-weight: 300;
    }
  }

  &__editor {
    width: 100%;
    height: 5.5rem;
    display: flex;
    flex-direction: column;
  }

  &__content {
    width: 100%;
    height: 5rem;
    outline: none;
    font-size: 15px;
    color: #202020;
    padding-left: .5rem;
    border-radius: 3px;
    border: 1px solid #ddd;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin: .5rem 0;
  }

  &__submit {
    @include button(5rem);
    margin-right: .2rem;
  }

  &__cancel {
    @include cancel();
  }

  &__cancel:hover {
    text-decoration: underline;
  }

  &__item-actions {
    margin: auto 0 auto auto;
    font-size: 20px;

    span {
      margin-left: 1rem;
    }
    span:hover {
      color: #202020;
      cursor: pointer;
    }
  }
  //Select Date Component
  &__select-date {
    @include popup();
    left: 82%;

    @include mq(900px){
      left: 40%;
    }
    
    li {
      font-weight: 500 !important;
      font-size: 13px !important;
      padding: 0 .5rem;
      cursor: pointer;
      height: 2rem;

      span {
        margin-left: 1rem;
      }
    }

    li:nth-child(1){
      svg {
        color: #2c7873;
      }
    }
    li:nth-child(2){
      svg {
        color: #d9b44a;
      }
    }
    li:nth-child(3){
      svg {
        color: #775167;
      }
    }
    li:nth-child(4){
      svg {
        color: grey;
      }
    }

    li:hover {
      background-color: #f3f3f3;
    }
  }
  //Select Project Component
  &__select-project {
    @include popup();
    left: 80%;

    @include mq(900px){
      left: 40%;
    }

    li {
      font-weight: 500 !important;
      font-size: 13px !important;
      padding: 0 .5rem;
      cursor: pointer;
      height: 2rem;

      span {
        margin-left: 1rem;
      }
    }

    li:hover {
      background-color: #f3f3f3;
    }
  }
  //Select Priority
  &__select-priority {
    @include popup();
    left: 84%;

    @include mq(900px){
      left: 40%;
    }

    li {
      font-weight: 500 !important;
      font-size: 13px !important;
      padding: 0 .5rem;
      cursor: pointer;
      height: 2rem;

      span {
        margin-left: 1rem;
      }
    }

    li:hover{
      background-color: #f3f3f3;
    }

    li:nth-child(1){
      svg {
        fill: rgb(209, 69, 59);
        color: rgb(209, 69, 59);
        fill-rule: nonzero;
      }
    }
    li:nth-child(2){
      svg {
        color: rgb(235, 137, 9);
        fill: rgb(235, 137, 9);
        fill-rule: nonzero;
      }
    }
    li:nth-child(3){
      svg {
        color: rgb(36, 111, 224);
        fill: rgb(36, 111, 224);
        fill-rule: nonzero;
      }
    }
    li:nth-child(4){
      svg {
        color: grey;
      }
    }
  }
}

//Empty Project Illustration
.empty-state-illustration {
  margin: 5rem 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Pacifico', cursive;
  
  img {
    height: 15rem;
    width: 18rem;
  }
  
  p {
    font-size: 16px;
    color: $generic-bg;
    letter-spacing: 2px;
    margin-top: .5rem;
    color: #8cd0f9;
  }
  
  @include mq('900px'){
    margin: 0;
    margin-top: 7rem;

    img {
      height: 10rem;
      width: 12rem;
    }
  }
}